body {
	color: var(--gz-color-base);
	font-family: var(--gz-body-font);
	font-optical-sizing: auto;
	font-size: var(--gz-body-font-size);
	line-height: var(--gz-body-line-height);
	-ms-word-wrap: break-word;
    word-wrap: break-word;
	overflow-x: hidden;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	--gz-blockquote-rounded: 20px;

	border-radius: var(--gz-blockquote-rounded);
	background-color: var(--gz-color-light-grey);
    font-size: clamp(calc(16 / 16 * 1rem), 2.5vw, calc(20 / 16 * 1rem));
    font-weight: var(--gz-heading-font-weight);
    color: var(--gz-heading-color);
    letter-spacing: var(--gz-heading-letter-spacing);
    padding: clamp(calc(20 / 16 * 1rem), 3vw, calc(40 / 16 * 1rem));
    line-height: 1.5;

	p {
		margin: 0 0 calc(7 / 16 * 1rem) 0;
	}

	cite {
		color: var(--gz-color-dark-grey);
		margin-top: calc(13 / 16 * 1rem);
		font-size: var(--gz-body-font-size);
		font-weight: var(--gz-subheading-font-weight);
		letter-spacing: 0;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

code{
	padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
	font-size: inherit;
}

abbr,
acronym {
	border-bottom: 1px dotted var(--gz-border-color);
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: (22/18) * 100%;
	line-height: (28/20);
	font-weight: 500;
}