:where(h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.heading) {
	font-family: var(--gz-heading-font), sans-serif;
	line-height: calc(1 + 0.21 / var(--gz-heading-font-scale));
	color: var(--gz-heading-color);
	font-weight: var(--gz-heading-font-weight);
	text-transform: var(--gz-heading-text-transform);
	font-size: var(--heading-size);
	margin-block-start: calc(var(--heading-size)* 0.7);
    margin-block-end: calc(var(--heading-size)* 0.7);
}

h1, .h1 {
	--heading-size: clamp(2.25rem, calc(2.25rem + (40 - 36) * var(--gz-responsive-rate)), 2.5rem); 
}

h2, .h2 {
	--heading-size: clamp(1.875rem, calc(1.875rem + (36 - 30) * var(--gz-responsive-rate)), 2.25rem); 
}

h3, .h3 {
	--heading-size: clamp(1.625rem, calc(1.625rem + (30 - 28) * var(--gz-responsive-rate)), 1.875rem); 
}

h4, .h4 {
	--heading-size: 1.625rem; 
}

h5, .h5 {
	--heading-size: 1.125rem; 
}

h6, .h6 {
	--heading-size: 1rem; 
}

.heading-letter-spacing {
	letter-spacing: var(--gz-heading-letter-spacing);
}
