.single-product .glozin-breadcrumb-navigation-wrapper {
	padding-top: 21px;
	padding-bottom: 22px;
}

.single-product .product-navigation__tooltip {
	top: 100%;
	width: 17.5rem;
}

.single-product .product-navigation__button-next:hover ~ .product-navigation__tooltip-next {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translateY(0);
}

.single-product .product-navigation__button-prev:hover ~ .product-navigation__tooltip-prev {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translateY(0);
}

.single-product .product-navigation__tooltip-next,
.single-product .product-navigation__tooltip-prev {
	box-shadow: 5px 0px 30px 0px rgba(0, 0, 0, 0.08);
	transform: translateY(15px);
	transition: .3s;
}

.single-product .product-navigation__tooltip-next .product-navigation__tooltip-image,
.single-product .product-navigation__tooltip-prev .product-navigation__tooltip-image {
	width: 50px;
	flex-shrink: 0;
}

.single-product .product-navigation__tooltip-next:hover,
.single-product .product-navigation__tooltip-prev:hover {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translateX(0);
}

.single-product .product-navigation__tooltip-image img {
	border-radius: var(--gz-rounded-product-image-sm);
}

.single-product div.product .product_meta {
	margin-bottom: 20px;
	color: var(--gz-color-dark);
}

.single-product div.product .product_meta .meta__label {
	display: inline-block;
	color: var(--gz-color-base);
	min-width: clamp(5.625rem, 5vw, 7.5rem);
}

.single-product div.product .product_meta > span {
	display: block;
	font-weight: 400;
	margin-bottom: 2px;
}

.upsells.products,
.related.products,
.recently-viewed-products {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

.upsells.products > h2,
.related.products > h2,
.recently-viewed-products > h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	letter-spacing: var(--gz-heading-letter-spacing);
}

.upsells.products > p,
.related.products > p,
.recently-viewed-products > p {
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}

.upsells.products .glozin-product-carousel,
.related.products .glozin-product-carousel,
.recently-viewed-products .glozin-product-carousel {
	margin-top: 33px;
}

.upsells.products::after,
.related.products::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--gz-border-color);
}

.recently-viewed-products.ajax-loading ~ .swiper-button,
.recently-viewed-products.ajax-loading ~ .swiper-pagination {
	opacity: 0 !important;
}

@media (min-width: 768px) {
	.upsells.products,
	.related.products,
	.recently-viewed-products {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.single-product div.product .product-gallery-summary .entry-summary .glozin-product-zoom-wrapper {
	display: none;
	position: sticky;
	top: 3rem;
	left: 0;
	z-index: 4;
	align-self: flex-start;
}

.single-product div.product .product-gallery-summary .entry-summary .drift-zoom-pane {
	top: 0;
	left: 0;
	height: 550px;
	width: 100%;
	background: rbga(0, 0, 0, 0.5);
	transform: translateZ(0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 3;
}

.single-product div.product .product-gallery-summary .entry-summary .drift-zoom-pane img {
	position: absolute;
	display: block;
	max-width: none !important;
	max-height: none !important;
	object-fit: contain;
	top: 0;
	left: 0;
}

@media (min-width: 1025px) {
	.single-product div.product .product-gallery-summary .entry-summary .glozin-product-zoom-wrapper {
		display: block;
	}
}

.single-product div.product .glozin-product-extra-link:empty {
	margin: 0;
	padding: 0;
	border: none;
}

.single-product div.product .glozin-product-extra-link .glozin-svg-icon--question {
	font-size: 18px;
	font-size: 1.125rem;
}

.single-product div.product .glozin-product-extra-link .glozin-svg-icon--compare-color {
	font-size: 18px;
	font-size: 1.125rem;
}

.shipping-promotions-information img {
	max-width: 25px;
}

.shipping-promotions-information strong {
	color: var(--gz-color-dark);
}

.shipping-promotions-information--grid {
	grid-template-columns: 1fr;
}

.shipping-promotions-information--grid .shipping-promotions-information__item {
	margin-top: 20px;
	padding-bottom: 20px;
	border-inline-end: none;
	border-bottom: 1px solid var(--gz-border-color);
}

.shipping-promotions-information--grid .shipping-promotions-information__item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

@media (min-width: 768px) {
	.shipping-promotions-information--grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.shipping-promotions-information--grid .shipping-promotions-information__item {
		border-inline-end: 1px solid var(--gz-border-color);
		border-bottom: none;
		padding-bottom: 0;
	}
	.shipping-promotions-information--grid .shipping-promotions-information__item:nth-child(2n), .shipping-promotions-information--grid .shipping-promotions-information__item:last-child {
		border-inline-end: 0;
	}
	.shipping-promotions-information--grid .shipping-promotions-information__item:nth-child(2n+1):last-child {
		grid-column: span 2;
	}
}

.product-highlights {
	padding-top: 22px;
	padding-bottom: 22px;
	margin-bottom: 50px;
	width: 100vw;
	margin-inline-start: calc(50% - 50vw);
}

@media (min-width: 769px) {
	.product-highlights {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 90px;
	}
}

.wapf {
	margin-bottom: 20px;
}

.wapf-field-row {
	margin: 0 0 15px;
}

.wapf-field-row:last-child {
	margin-bottom: 0;
}

.wapf-field-container {
	position: relative;
	padding: 0;
}

.wapf-field-container.wapf-field-text .wapf-field-label, .wapf-field-container.wapf-field-textarea .wapf-field-label, .wapf-field-container.wapf-field-number .wapf-field-label, .wapf-field-container.wapf-field-email .wapf-field-label, .wapf-field-container.wapf-field-url .wapf-field-label {
	position: absolute;
	top: 2px;
	left: 0;
	padding: var(--gz-input-padding-y) var(--gz-input-padding-x);
	transform: scale(1);
	height: 100%;
	pointer-events: none;
	transform-origin: left top;
	transition: 0.2s;
	display: flex;
	color: var(--gz-input-placeholder-color);
	line-height: 1;
	z-index: 1;
}

.wapf-field-container.wapf-field-text .wapf-input, .wapf-field-container.wapf-field-textarea .wapf-input, .wapf-field-container.wapf-field-number .wapf-input, .wapf-field-container.wapf-field-email .wapf-input, .wapf-field-container.wapf-field-url .wapf-input {
	transition: none;
}

.wapf-field-container.wapf-field-text .wapf-input:-webkit-autofill, .wapf-field-container.wapf-field-textarea .wapf-input:-webkit-autofill, .wapf-field-container.wapf-field-number .wapf-input:-webkit-autofill, .wapf-field-container.wapf-field-email .wapf-input:-webkit-autofill, .wapf-field-container.wapf-field-url .wapf-input:-webkit-autofill {
	animation-name: autofill-animation;
	animation-duration: 0.001s;
	border-color: #000000;
}

.wapf-field-container.wapf-field-text.focused .wapf-field-label, .wapf-field-container.wapf-field-textarea.focused .wapf-field-label, .wapf-field-container.wapf-field-number.focused .wapf-field-label, .wapf-field-container.wapf-field-email.focused .wapf-field-label, .wapf-field-container.wapf-field-url.focused .wapf-field-label {
	transform: translateY(-0.4rem) translateX(7px) scale(0.75);
	opacity: 0.7;
}

.wapf-field-container.wapf-field-text ::placeholder, .wapf-field-container.wapf-field-textarea ::placeholder, .wapf-field-container.wapf-field-number ::placeholder, .wapf-field-container.wapf-field-email ::placeholder, .wapf-field-container.wapf-field-url ::placeholder {
	color: transparent;
}

.wapf-field-content label {
	display: block;
	font-size: 16px;
	font-size: 1rem;
	color: var(--gz-color-dark);
	font-weight: 600;
	margin-bottom: 10px;
}

.glozin-sticky-add-to-cart .wapf {
	display: none;
}

.single-product .site-content {
	padding-top: 0;
	padding-bottom: 0;
}

.single-product .woocommerce-notices-wrapper:not(:empty) {
	margin-top: 30px;
}

@media (min-width: 768px) {
	.single-product div.product .product-gallery-summary {
		margin-bottom: 90px;
	}
	.single-product div.product .woocommerce-product-gallery {
		top: 50px;
	}
	.single-product div.product .entry-summary {
		position: -webkit-sticky;
		position: sticky;
		top: 50px;
		align-self: flex-start;
	}
}
