*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

body {
	background: #fff; // Fallback for when there is no custom background color defined.
}

body {
	&.admin-bar {
		--gz-admin-bar-height: 32px;
	}
}