ul,
ol {
	padding: 0 0 1.5em 1.3em;
	margin-inline-start: 0;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	padding-bottom: 0;
	padding-inline-start: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}