.nav-menu {
	&,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 5px 30px;
		position: relative;

		&:hover {
			> a {
				&:after {
					width: 100%;
					inset-inline-start: 0;
				}
			}
		}

		.menu-item-badge {
			top: -13px;
			inset-inline-end: -18px;

			&:after {
				border-top-color: var(--gz-menu-item-badge-bg);
			}
		}
	}

	li.menu-item > a {
		@include font-size(15/16);
		display: inline-block;
		text-decoration: none;
	}

	li.menu-item-has-icon > a {
		display: flex;
		align-items: center;
		gap: 10px;

		.menu-item-icon{
			max-width: 30px;
			display: flex;
		}
	}
}

.menu {
	li {
		.menu-item-badge {
			--gz-menu-item-badge-bg: var(--gz-color-primary);
			--gz-menu-item-badge-color: var(--gz-color-light);

			background-color: var(--gz-menu-item-badge-bg);
			color: var(--gz-menu-item-badge-color);
			min-width: 30px;
			padding: 3px 5px;
			border-radius: 2px;

			&:after {
				border: 4px solid transparent;
				content: '';
				height: 0;
				position: absolute;
				width: 0;
				top: 100%;
				inset-inline-start: 30%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				transform-origin: 0;
				border-top-color: var(--gz-menu-item-badge-bg);
			}
		}

	}

	.menu-item-has-icon > a {
		display: flex;
		align-items: center;
		gap: 10px;

		.menu-item-icon{
			display: flex;
		}
	}

	.col-1_8 {
		width: 12.5%;
	}

	.col-1_5 {
		width: 20%;
	}

	.col-1_4 {
		width: 25%;
	}

	.col-1_3 {
		width: 33.33%;
	}

	.col-3_8 {
		width: 37.5%;
	}

	.col-2_5 {
		width: 40%;
	}

	.col-1_2 {
		width: 50%;
	}

	.col-3_5 {
		width: 60%;
	}

	.col-5_8 {
		width: 62.5%;
	}

	.col-2_3 {
		width: 66.6666%;
	}

	.col-3_4 {
		width: 75%;
	}

	.col-4_5 {
		width: 80%;
	}

	.col-7_8 {
		width: 87.5%;
	}

	.col-1_1 {
		width: 100%;
	}
}

.primary-navigation {
	height: 100%;

	.nav-menu {
		height: 100%;
		display: flex;
		align-items: center;

		> li:not( .menu-item-mega ) {
			position: relative;
		}

		> li {
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0 17px;

			&:first-child {
				padding-inline-start: 0;
			}

			&:last-child {
				padding-inline-end: 0;
			}

			&:hover {
				> a {
					.glozin-svg-icon,
					.menu-item-icon {
						&.caret {
							opacity: 1;
						}
					}
				}
			}

			> a {
				--gz-link-color: var( --gz-header-color );

				font-weight: 600;
				color: var( --gz-header-color );
				display: flex;
				align-items: center;
				line-height: 25px;
				white-space: nowrap;
				position: relative;

				&:hover {
					color: var(--gz-color-primary);
				}

				.glozin-svg-icon,
				.menu-item-icon {
					@include font-size(14/16);
					margin: 2px 8px 0 0;
				}

				.menu-icon-item--image {
					width: 16px;
				}

				.menu-icon-item-position--right {
					margin: 2px 0 0 8px;
				}
			}

			&.menu-item-has-children {
				> a {
					padding-inline-end: 17px;
					position: relative;

					&:before {
						content: "";
						position: absolute;
						inset-inline-end: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 10px;
						height: 6px;
						background-color: currentcolor;
						border: 0 !important;
						-webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMS4wODk4NCAxLjgyMjI3QzAuOTcxMzU0IDEuNzEyODkgMC45MTIxMDkgMS41ODA3MyAwLjkxMjEwOSAxLjQyNTc4QzAuOTEyMTA5IDEuMjYxNzIgMC45NzEzNTQgMS4xMjA0NCAxLjA4OTg0IDEuMDAxOTVDMS4xOTkyMiAwLjg5MjU3OCAxLjMzNTk0IDAuODM3ODkxIDEuNSAwLjgzNzg5MUMxLjY2NDA2IDAuODM3ODkxIDEuODAwNzggMC44OTI1NzggMS45MTAxNiAxLjAwMTk1TDUgNC4wOTE4TDguMDg5ODQgMS4wMDE5NUM4LjE5OTIyIDAuODkyNTc4IDguMzM1OTQgMC44Mzc4OTEgOC41IDAuODM3ODkxQzguNjY0MDYgMC44Mzc4OTEgOC44MDA3OCAwLjg5MjU3OCA4LjkxMDE2IDEuMDAxOTVDOS4wMjg2NSAxLjEyMDQ0IDkuMDg3ODkgMS4yNjE3MiA5LjA4Nzg5IDEuNDI1NzhDOS4wODc4OSAxLjU4MDczIDkuMDI4NjUgMS43MTI4OSA4LjkxMDE2IDEuODIyMjdMNS40MTAxNiA1LjMyMjI3QzUuMzAwNzggNS40NDA3NiA1LjE2NDA2IDUuNSA1IDUuNUM0LjgzNTk0IDUuNSA0LjY5OTIyIDUuNDQwNzYgNC41ODk4NCA1LjMyMjI3TDEuMDg5ODQgMS44MjIyN1oiIGZpbGw9ImN1cnJlbnRDb2xvciIvPg0KPC9zdmc+DQo=") no-repeat 50% 50%;
						mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMS4wODk4NCAxLjgyMjI3QzAuOTcxMzU0IDEuNzEyODkgMC45MTIxMDkgMS41ODA3MyAwLjkxMjEwOSAxLjQyNTc4QzAuOTEyMTA5IDEuMjYxNzIgMC45NzEzNTQgMS4xMjA0NCAxLjA4OTg0IDEuMDAxOTVDMS4xOTkyMiAwLjg5MjU3OCAxLjMzNTk0IDAuODM3ODkxIDEuNSAwLjgzNzg5MUMxLjY2NDA2IDAuODM3ODkxIDEuODAwNzggMC44OTI1NzggMS45MTAxNiAxLjAwMTk1TDUgNC4wOTE4TDguMDg5ODQgMS4wMDE5NUM4LjE5OTIyIDAuODkyNTc4IDguMzM1OTQgMC44Mzc4OTEgOC41IDAuODM3ODkxQzguNjY0MDYgMC44Mzc4OTEgOC44MDA3OCAwLjg5MjU3OCA4LjkxMDE2IDEuMDAxOTVDOS4wMjg2NSAxLjEyMDQ0IDkuMDg3ODkgMS4yNjE3MiA5LjA4Nzg5IDEuNDI1NzhDOS4wODc4OSAxLjU4MDczIDkuMDI4NjUgMS43MTI4OSA4LjkxMDE2IDEuODIyMjdMNS40MTAxNiA1LjMyMjI3QzUuMzAwNzggNS40NDA3NiA1LjE2NDA2IDUuNSA1IDUuNUM0LjgzNTk0IDUuNSA0LjY5OTIyIDUuNDQwNzYgNC41ODk4NCA1LjMyMjI3TDEuMDg5ODQgMS44MjIyN1oiIGZpbGw9ImN1cnJlbnRDb2xvciIvPg0KPC9zdmc+DQo=") no-repeat 50% 50%;
						-webkit-mask-size: cover;
						mask-size: cover;
					}
				}
			}
		}
	}
}

.secondary-navigation {
	height: 100%;

	.nav-menu {
		height: 100%;
		display: flex;
		align-items: center;

		> li {
			padding: 0 17px;

			&:first-child {
				padding-inline-start: 0;
			}

			&:last-child {
				padding-inline-end: 0;
			}

			&.menu-item {
				> a {
					--gz-reversed-link-gap: 0;

					transition: var(--gz-transition);
				}
			}

			> a {
				--gz-link-color: var( --gz-header-color );

				font-size: 14 / 16 * 1rem;
				color: var( --gz-header-color );
				display: flex;
				align-items: center;
				line-height: 25px;
				white-space: nowrap;
				position: relative;

				&:hover {
					color: var(--gz-color-primary);
				}
			}
		}
	}
}

@media (min-width: 1025px) {
    .nav-menu {
		--gz-transform-origin-start: left;
		--gz-transform-origin-end: right;
		--gz-animation-default: .5s cubic-bezier(.3, 1, .3, 1);
		--gz-reversed-link-gap: 1px;
        li {
            > ul.sub-menu {
				display: none;
            }

        }
    }

}