.gz-progress-container {
	width: 100%;
	height: 4px;
	position: fixed;
	top: 0;
	inset-inline-start: 0;
	display: none;
	z-index: 99999;
}
.gz-progress-bar {
	width: 0%;
	height: 100%;
	background-color: var(--gz-color-primary);
	transition: width 0.3s ease;
} 