:is(
    .custom-scrollbar,
  )::-webkit-scrollbar {
  width: 4px;
}
:is(
    .custom-scrollbar,
  )::-webkit-scrollbar-track {
  background: #eee;
}
:is(
    .custom-scrollbar,
  )::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
:is(
    .custom-scrollbar,
  )::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 6px;
}