.product-ask-question-modal {
	--gz-modal-content-padding-y: 20px;
	--gz-modal-content-padding-x: 20px;

	.modal__header {
		position: relative;
		--gz-modal-content-padding-y: 20px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			inset-inline-start: 0;
			width: 100%;
			height: 1px;
			background-color: var(--gz-border-color);
		}
	}
}

@media (min-width: 768px) {
	.product-ask-question-modal {
		--gz-modal-content-padding-y: 30px;
		--gz-modal-content-padding-x: 30px;
	}
}