.quick-view-modal {
	--gz-modal-content-width: 1090px;
	--gz-image-rounded: 0px;

	.modal__button-close {
		--gz-button-bg-color: var(--gz-color-light);
		--gz-button-bg-color-hover: var(--gz-color-light);
		--gz-button-border-color: var(--gz-color-light);
		--gz-button-border-color-hover: var(--gz-color-light);
		--gz-button-color: #666666;
		--gz-button-color-hover: #666666;
		opacity: 1;
		z-index: 9;

		.glozin-svg-icon {
			--gz-button-icon-size: 11px;
		}
	}

	.modal__wrapper--quickview {
		--gz-modal-content-padding-y: 15px;
	}

	.modal__content--quickview {
		--gz-modal-content-padding-y: 0px;
		--gz-modal-content-padding-x: 0px;
	}

	div.product {
		.product-gallery-summary {
			margin: 0;
		}

		.woocommerce-product-gallery {
			--gz-image-rounded-product-gallery: 0;

			padding: 20px 20px 0;
		}

		.entry-summary {
			padding: 0 20px 30px;
		}

		table.variations {
			margin-bottom: 30px;
		}
	}

}

.view-full-details-button {
	--gz-button-icon-spacing: 5px;
	--gz-button-color-hover: var(--gz-color-primary);

	.glozin-svg-icon {
		--gz-button-icon-size: 11px;
		transform: rotate(90deg);
	}

	&::after {
		inset-inline-start: auto;
		inset-inline-end: 0;
		width: 0;
		transition: width 0.3s;
	}

	&:hover {
		&::after {
			inset-inline-start: 0;
			inset-inline-end: auto;
			width: 100%;
			animation: none;
		}
	}
}

.quick-view-modal-opened {
	.size-guide-modal.modal--closing {
		animation: fadeOut var(--duration-long, 0.5s) forwards;
	}
}

.quick-view-modal-opened .quick-view-modal {
	z-index: 1200;
}

@media (min-width: 768px) {
	.quick-view-modal {
		.modal__button-close {
			.glozin-svg-icon {
				--gz-button-icon-size: 13px;
			}
		}

		.modal__wrapper--quickview {
			--gz-modal-content-padding-y: 0px;
		}

		div.product {
			.woocommerce-product-gallery {
				padding: 0;

				.glozin-video-thumbnail {
                    position: relative;
                    z-index: 1;
                }

				.glozin-video-wrapper {
                    position: absolute;
                    top: 0;
                    inset-inline-start: 0;
                    width: 100%;
                    height: 100%;

                    video,
                    iframe {
                        height: 100%;
                        width: 100%;
                    }

                    &.video-vimeo {
                        iframe {
                            background-color: var(--gz-color-dark);
                        }
                    }
                }

				&.has-video {
					.woocommerce-product-gallery__image {
						position: relative;

						.glozin-i-video {
							position: absolute;
							top: 3px;
							inset-inline-end: 3px;
						}

						&.glozin-product-video-play {
							.glozin-video-thumbnail {
								z-index: 0;
							}
						}

						&.glozin-product-video {
							.glozin-i-video {
								width: 40px;
								height: 30px;
								top: 50%;
								left: 50%;
								right: auto;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}

			.entry-summary {
				padding-top: 30px;
				padding-bottom: 30px;
				padding-inline-start: 0;
				padding-inline-end: 30px;
				position: absolute;
				top: 0;
				inset-inline-end: 0;
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;

				scroll-behavior: smooth;
				scrollbar-width: auto;
				scrollbar-color: #c8c8c8;

				&::-webkit-scrollbar {
					width: 4px;
					border-radius: 30px;
				}

				&::-webkit-scrollbar-track {
					background: #fff;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #c8c8c8;
					border-radius: 30px;
				}

				&::-webkit-scrollbar-thumb:hover {
					background-color: var(--gz-color-grey);
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.quick-view-modal.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--has-arrows-mobile .woocommerce-product-gallery__wrapper.swiper-initialized .swiper-button {
		display: none;
	}
}
