.entry-meta {
    --dot-width: 4px;
    --dot-space: 0 10px;
}

.container-min {
    max-width: 52.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.post-thumbnail {
	--gz-ratio-percent: calc( 100% / 1.7502278942570648 );
}

.post-thumbnail {
	border-radius: var(--gz-image-rounded);
}

.entry-title {
	letter-spacing: var(--gz-heading-letter-spacing);
}

.single-post {
	.page-header--single-blog {
		--gz-page-header-padding-top: 30px;
		--gz-page-header-padding-bottom: 30px;
	}

	.site-content {
		padding-top: 0;
	}

	.entry-thumbnail {
		max-height: 500px;
	}

	article {
		.entry-content {
			p {
				&:where(:not(blockquote p)) {
					margin-block-start: clamp(calc(20 / 16 * 1rem), 2vw, calc(26 / 16 * 1rem));
					margin-bottom: clamp(calc(20 / 16 * 1rem), 2vw, calc(26 / 16 * 1rem));
				}
			}

			blockquote {
				max-width: calc(580 / 16 * 1rem);
				margin: 0 auto 2rem;
			}
		}

		&.sticky {
			.entry-title {
				position: relative;
			}
		}
	}
}

.blog-tag {
	a {
		background-color: var(--gz-color-light-grey);
		border-radius: var(--gz-button-rounded);
		padding: 11px 20px;
		text-decoration: none;
		display: inline-block;
		line-height: normal;
		text-transform: capitalize;
		color: var(--gz-color-base);

		&:hover {
			background-color: var(--gz-color-dark);
			color: var(--gz-color-light);
		}
	}
}

@media (min-width: 890px) {
	.glozin-blog-page.content-sidebar,
	.glozin-blog-page.sidebar-content,
	.single-post.content-sidebar,
	.single-post.sidebar-content {
		.content-area {
			flex: 0 0 calc(100% - var(--gz-col-width) - var(--gz-col-gap-desktop));
			width: calc(100% - var(--gz-col-width) - var(--gz-col-gap-desktop));
		}

		.widget-area {
			flex: 0 0 auto;
			width: var(--gz-col-width, 50%);
		}
	}

	.glozin-blog-page.sidebar-content,
	.single-post.sidebar-content {
		.site-content-container {
			flex-direction: row-reverse;
		}
	}

	.glozin-blog-page.content-sidebar,
	.single-post.content-sidebar {
		.site-content-container {
			flex-direction: row;
		}
	}

	.glozin-blog-page.no-sidebar,
	.single-post.no-sidebar {
		.site-content-container {
			justify-content: center;
		}
	}
}