.single-product {
    div.product {
        .glozin-product-atc-group {
            width: 100%;
            margin-bottom: 15px;
            gap: 10px;
        }
        
        .single_add_to_cart_button {
            flex-grow: 1;

            &.loading {
                @include gz-loading();
                --gz-loading-color: #fff;
			}
        }
    }   
}
@media (min-width: 1025px) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
    body:not(.button-eff-hover-disabled) { 
        &.single-product {
            div.product {
                .single_add_to_cart_button,
                .woocommerce-Reviews .comment-respond .comment-form .form-submit .submit {
                    &:not(.loading) {
                        @include button-hover-effect();
                    }
                }
            }
        }
    }
}