.wapf {
    margin-bottom: 20px;
}

.wapf-field-row {
    margin: 0 0 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.wapf-field-container {
    position: relative;
    padding: 0;

    &.wapf-field-text,
    &.wapf-field-textarea,
    &.wapf-field-number,
    &.wapf-field-email,
    &.wapf-field-url {
        .wapf-field-label {
            position: absolute;
            top: 2px;
            left: 0;
            padding: var(--gz-input-padding-y) var(--gz-input-padding-x);
            transform: scale(1);
            height: 100%;
            pointer-events: none;
            transform-origin: left top;
            transition: 0.2s;
            display: flex;
            color: var(--gz-input-placeholder-color);
            line-height: 1;
            z-index: 1;
        }

        .wapf-input {
            transition: none;

            &:-webkit-autofill {
                animation-name: autofill-animation;
                animation-duration: 0.001s;
                border-color: #000000;
            }
        }

        &.focused {
            .wapf-field-label {
                transform: translateY(-.4rem) translateX(7px) scale(.75);
                opacity: 0.7;
            }
        }

        ::placeholder {
            color: transparent;
        }
    }
}

.wapf-field-content {
    label {
        display: block;
        @include font-size(16/16);
        color: var(--gz-color-dark);
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.glozin-sticky-add-to-cart {
    .wapf {
        display: none;
    }
}