.single-product {
    div.product {
        .short-description {
            width: 100%;
            margin-bottom: 22px;

            .short-description__label {
                display: block;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .short-description__more {
                margin-top: 10px;
            }

            .short-description__content {
                display: -webkit-box;
                -webkit-line-clamp: var(--gz-product-description-lines);
                -webkit-box-orient: vertical;
                overflow: hidden;

                > * {
                    &:first-child {
                        margin-top: 0;
                        padding-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }

            &.activate {
                .short-description__content {
                    -webkit-line-clamp: inherit;
                }
            }

            > * {
                &:first-child {
                    margin-top: 0;
                    padding-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            ul {
                margin-bottom: 0;
                padding-bottom: 0;

                &:not( :last-child ) {
                    padding-bottom: 0;
                }
            }
        }
    }
}