.single-product {
    .glozin-product-price {
        .price:not(:empty) {
            font-size: clamp( 24 / 16 * 1rem, 3vw, 26 / 16 * 1rem);
            line-height: 25.71px;
            margin-bottom: 20px;

            del {
                @include font-size(18/16);
            }
        }
    }
}