.bg-light {
	background-color: var(--gz-color-light);
}

.bg-light-grey {
	background-color: var(--gz-color-light-grey);
}

.bg-dark {
	background-color: var(--gz-color-dark);
}

.bg-primary {
	background-color: var(--gz-color-primary);
}