.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-sticky {
	position: sticky;
	align-self: start;
}

.top-0 {
	top: 0;
}

.top-2 {
	top: 2px;
}

.top-10 {
	top: 10px;
}

.top-13 {
	top: 13px;
}

.top-15 {
	top: 15px;
}

.top-20 {
	top: 20px;
}

.top-21 {
	top: 21px;
}

.top-30 {
	top: 30px;
}

.top-50 {
	top: 50%;
}

.bottom-0 {
	bottom: 0;
}

.bottom-10 {
	bottom: 10px;
}

.bottom-15 {
	bottom: 15px;
}

.bottom-20 {
	bottom: 20px;
}

.bottom-25 {
	bottom: 25px;
}

.bottom-30 {
	bottom: 30px;
}

.left-0 {
	left: 0;
}

.start-auto {
	left: auto;
}

.start-0 {
	inset-inline-start: 0;
}

.start-5 {
	inset-inline-start: 5px;
}

.start-10 {
	inset-inline-start: 10px;
}

.start-15 {
	inset-inline-start: 15px;
}

.start-20 {
	inset-inline-start: 20px;
}

.start-50 {
	left: 50%;
}

.end-0 {
	inset-inline-end: 0;
}

.end-5 {
	inset-inline-end: 5px;
}

.end-10 {
	inset-inline-end: 10px;
}

.end-15 {
	inset-inline-end: 15px;
}

.end-20 {
	inset-inline-end: 20px;
}

.end-30 {
	inset-inline-end: 30px;
}

.end-45 {
	inset-inline-end: 45px;
}

.translate-middle {
	transform: translate(-50%, -50%);
}

.translate-middle-y {
	transform: translateY(-50%);
}

.translate-middle-x {
	transform: translateX(-50%);
}

@media (min-width: 768px) {
	.position-sticky-md {
		position: sticky;
		align-self: start;
	}

	.position-static-md {
		position: static;
	}

	.position-sticky-md-important {
		position: sticky !important;
	}

	.position-absolute-md {
		position: absolute;
	}

	.start-30-md {
		inset-inline-start: 30px;
	}

	.end-auto-md {
		inset-inline-start: auto;
	}

	.bottom-30-md {
		bottom: 30px;
	}
}

@media (min-width: 992px) {
	.position-sticky-lg {
		position: sticky;
		align-self: start;
	}
}

@media (min-width: 1025px) {
	.position-sticky-xl {
		position: sticky;
		align-self: start;
	}

	.position-absolute-xl {
		position: absolute;
	}

	.position-static-xl {
		position: static;
	}

	.position-static-xl-important {
		position: static !important;
	}

	.top-15-xl {
		top: 15px;
	}

	.top-30-xl {
		top: 30px;
	}

	.top-65-xl {
		top: 65px;
	}

	.top-90-xl {
		inset-block-start: 90px;
	}

	.bottom-auto-xl {
		bottom: auto;
	}

	.bottom-30-xl {
		bottom: 30px;
	}

	.start-15-xl {
		inset-inline-start: 15px;
	}

	.start-30-xl {
		inset-inline-start: 30px;
	}

	.start-35-xl {
		inset-inline-start: 35px;
	}

	.end-15-xl {
		inset-inline-end: 15px;
	}

	.end-30-xl {
		inset-inline-end: 30px;
	}
}