.rounded-0 {
	border-radius: 0;
}

.rounded-5 {
	border-radius: 5/16*1rem;
}

.rounded-10 {
	border-radius: 10/16*1rem;
}

.rounded-15 {
	border-radius: 15/16*1rem;
}

.rounded-20 {
	border-radius: 20/16*1rem;
}

.rounded-30 {
	border-radius: 30/16*1rem;
}

.rounded-100 {
	border-radius: 100%;
}