@media (min-width: 1025px) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
	.gz-hover-zoom .gz-hover-effect:hover,
	.gz-hover-zoom.gz-hover-effect:hover {
		:is(img,.placeholder-image,picture) {
			transform: var(--gz-zoom-transform, scale(1.05));
		}
	}

	.gz-hover-effect :is(img,.placeholder-image,picture) {
        transition: var(--transition);
        will-change: transform;
    }

	.gz-hover-effect {
		--transition: transform 0.5s ease;
	}
}