:root {
	--gz-body-font: 'Instrument Sans', Arial, sans-serif;
	--gz-body-line-height: 1.714;
	--gz-body-font-size: 15px;

	--gz-color-base: #444444;
	--gz-color-dark: #111111;
	--gz-color-light: #ffffff;
    --gz-color-primary: #d0473e;
	--gz-color-grey: #888888;
	--gz-color-light-grey: #f5f5f5;
	--gz-color-dark-grey: rgba(17, 17, 17, 0.6);

	--gz-text-color-on-primary: #fff;

	--gz-link-color: #111111;
	--gz-link-color-hover: #d0473e;

	--gz-header-color: #111111;

	--gz-color-price-sale: #d0473e;

	--gz-border-color: #ebebeb;

	--gz-image-rounded: 10px;
	--gz-image-rounded-product-card: 0;

	--gz-rounded-xs: 2.5px;
	--gz-rounded-sm: 5px;
	--gz-rounded-md: 10px;
	--gz-rounded-full: 9999px;

	--gz-rounded-product-image-sm: min( 5px, var(--gz-image-rounded-product-card) );

	--gz-zoom-transform: scale(1.05);

	--gz-heading-font: var(--gz-body-font);
	--gz-heading-color: var(--gz-color-dark);
	--gz-heading-font-weight: 600;
	--gz-heading-font-scale: 1.0;
	--gz-heading-line-height: calc(1 + 0.21 / var(--gz-heading-font-scale));
	--gz-heading-text-transform: none;
	--gz-heading-letter-spacing: -0.034em;

	--gz-subheading-font-weight: 500;

	--gz-button-color: #ffffff;
	--gz-button-bg-color: #111111;
	--gz-button-border-width: 1px;
	--gz-button-border-color: var(--gz-button-bg-color);
	--gz-button-color-hover: #ffffff;
	--gz-button-bg-color-hover: #000000;
	--gz-button-border-color-hover: var(--gz-button-bg-color-hover);
	--gz-button-eff-bg-color-hover: #212121;
	--gz-button-padding-top: 16.5px;
	--gz-button-padding-right: 20px;
	--gz-button-padding-bottom: 16.5px;
	--gz-button-padding-left: 20px;
	--gz-button-line-height: 1;
	--gz-button-font-size: 15px;
	--gz-button-rounded: 30px;
	--gz-button-font-weight: 600;
	--gz-button-icon-spacing: 10px;
	--gz-button-icon-size: 9px;

	--gz-gutter-x: 15px;
	--gz-container-width: 1200px;
	--gz-container-xxl-width: 1410px;

	--gz-col-width: calc(270 / 16 * 1rem);
	--gz-col-gap-desktop: calc(40 / 16 * 1rem);

	--gz-input-color: #444444;
	--gz-input-border-color: var(--gz-border-color);
	--gz-input-border-color-hover: #111111;
	--gz-input-border-width: 1px;
	--gz-input-bg-color: #ffffff;
	--gz-input-padding-y: calc(15 / 16 * 1rem);
	--gz-input-padding-x: calc(20 / 16 * 1rem);
	--gz-input-font-size: 14px;
	--gz-input-placeholder-font-size: 14px;
	--gz-input-placeholder-color: rgba(17, 17, 17, 0.6);
	--gz-input-rounded: 30px;

	--gz-swiper-slide-spacing: 30px;
	--gz-swiper-pagination-spacing: 30px;

	--gz-ratio-percent: 100%;
	--product-image-ratio-percent: 100%;

	--gz-responsive-rate: ((100vw - 575px) /(1600 - 575));

	--gz-cursor-close-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAJGVYSWZJSSoACAAAAAEAPAECAAkAAAAaAAAAAAAAAGltYWdlcnk0AAAnPYy6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACWSURBVHgBtdQBCoAgDAXQ0ck6gkfoBnmDvPnPKGhE5vaXH4RY9VCciowMgLmORYKpxlpH0oWMM5uQOf69jPx8UVhcoaX1gRvvogxuRj24G7XgNPqFh9E3/Df0BTejk9iCxjMfvXwEDlETVbUY/rVRNA7D7rtxOFrKjIPo0y6OQPM3cdwXfREyCs+6mPC8+Tn8mGCSkdkBhMqKK3Zisu4AAAAASUVORK5CYII=");

	--gz-transition: 0.4s cubic-bezier(.3, 1, .3, 1);
	--shadow: 5px 0px 30px 0px rgba( 0, 0, 0, 0.08 );

	--gz-tooltip-rounded: 3px;

	--gz-col-gap: 15px;
}